body {
    background-color: #1c1c26;
}

html * {
    font-family: 'Baiser Circle', serif;
    text-align: center;
    font-weight: lighter;
}

h1 {
    color: #ff4444;
    font-size: 2vw;
}

h4 {
    color: #ffffff;
    font-size: 1vw;
}

#halvex {
    width: 30%
}

#avatar {
    width: 20%;
    float: left;
}

#rounded-blue {
    border-radius: 25px;
    width: 30%;
    height: 10%;
    margin: 0 auto;
    padding: 5%;
    border-style: solid;
    border-color: #3bcff7;
}

#rounded-purple {
    border-radius: 25px;
    width: 80%;
    height: 10%;
    padding: 5%;
    border-style: solid;
    border-color: #2a2b41;
    text-align: left;
}

@font-face {
    font-family: 'Baiser Circle';
    src: url('font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}